.Main {
  height: 100vh;
  background-color: #212121;
  color: #fff;
}

.SectionTitle {
  font-weight: 100;
  padding: 25vh 0 5vh 0;
}

.Tabs {
  background-color: '#212121';
}

.Tab {
  color: '#fff';
}